%h1= t('application.edit_model', model: t('activerecord.modules.comedian.one'))
= render "form", comedian: @comedian
%br/
%div

= link_to t('application.show'), @comedian
\|
= link_to t('application.back'), comedians_path